::selection {
    background: #BC8F8F;
}
::-moz-selection {
    background: #BC8F8F;
}
a {
    text-decoration: none!important;
    color: #7553b4;
}
a, img {
    border: none;
    outline: 0;
}
a:hover {
    color: #fff;
}
body {
    background: #040404;
    margin: 0;
    min-width: 200px;
}
b
{
    font-weight:bold;
}
.main,
.image,
.footer
{
    max-width: 1024px;
    color: #fff;
    text-align: center;
    font-family: 'Open Sans', Lato, sans-serif;
    margin: 0 auto;
}

.text{
    max-width: 1024px;
    color: #fff;
    text-align: left;
    font-family: 'Open Sans', Lato, sans-serif;
    margin: 0 auto;
}

.left {
    float: left;
    width: 47%;
}
.right {
    float: right;
    width: 47%;
}
.group:after {
    content:"";
    display: table;
    clear: both;
}
.right img {
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 480px) {
    .left, 
    .right {
        float: none;
        width: auto;
    }
}

h1, h2 {
    text-align: center;
    color: #fff;
    font-weight: 300;
    margin: 10px 0 0 0;
}
p {
    color: #fff;
    font-weight: 300;
    margin: 10px 0;
}
header img {
    width: 50%;
    position: relative;
    margin: 50px 0 0 0;
}
.navlist {
	position: absolute;
	left: 0px;
    right: 0px;
	padding: 0;
	margin: 0;
    background: #7553b4;
}
.navlist li {
    display:inline;
	list-style:none;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
}
.navlist li:hover {
	background:#7f66ae;	
	cursor:pointer;
}
.navlist li a {
	color:#fff;	
}
section p {
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
}
section {
    margin-bottom: 40px;
}
footer {
    color:#fff;
	position: relative;
	left: 0px;
    right: 0px;
    bottom: 0px;
	padding: 5px;
	margin: 0;
    background: #7553b4;
    text-align:center;
}
footer li {
    display:inline;
	list-style:none;
	padding: 0 20px;
}
footer a {
    color:#fff;
}
footer li a:hover {
	background:#7f66ae;	
	cursor:pointer;
}

